In [1]:
!pip install mysql-connector

Requirement already satisfied: mysql-connector in c:\users\avani\appdata\local\programs\python\python39\lib\site-packages (2.2.9)

WARNING: You are using pip version 20.2.3; however, version 21.3.1 is available.
You should consider upgrading via the 'c:\users\avani\appdata\local\programs\python\python39\python.exe -m pip install --upgrade pip' command.

In [2]:
# In MySQL, by default, the username is root and there's no password. 

# Steps to carry out CRUD operations using python
#install driver->
# 1. load the driver->
# 2. establish connection with Db system->
# 3. CREATE A CURSOR OBJECT
# 4. write query stmt->
# 5. excecute query stmt using cursor object->
# 6. retrieve the result from cursor object->
# 7. display the result

import mysql.connector as sqlcon

con = sqlcon.connect(
  host="localhost",
  user="root",
  passwd=""
)

print(con)
print(con.connection_id)

<mysql.connector.connection.MySQLConnection object at 0x000000E945BD63A0>
96

In [3]:
#Python MySQL Create Database

# create cursor object
mycursor = con.cursor()

print(type(mycursor))

#execute the query and stores result in cursor object
mycursor.execute("show databases")

#retrieve result data from cursor object and display it
for x in mycursor:
    print(x)

<class 'mysql.connector.cursor.MySQLCursor'>
('accounts',)
('class',)
('college',)
('crudop_db',)
('demodb',)
('electronic',)
('furniture',)
('iitb',)
('information_schema',)
('mysql',)
('performance_schema',)
('phpmyadmin',)
('product_db',)
('student_info',)
('test',)
('testdb',)

In [9]:
import mysql.connector

mydb = mysql.connector.MySQLConnection(
  host="localhost",
  user="root",
  password=""
)

print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x000000E5B420ECD0>

In [4]:
#Python MySQL Create Table
import mysql.connector

#Establish Connection

conn = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="emp"
)

#create cursor object for connection
mycursor = conn.cursor()

#create query statement
sql = "CREATE TABLE dept(dept_name VARCHAR(255), no_of_emp INT,  no_of_projects INT)"
 
#execute query    
mycursor.execute(sql)

#close the connection
conn.close()

In [7]:
#retrieving info from table

#Establish Connection

conn = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="emp"
)

#create cursor object for connection
mycursor = conn.cursor()

#Inserting data in table

#create insert query statement
#sql = "insert into dept values('mobile app',25,4)"
sql = "insert into dept values(%s,%s,%s)" 

dn = "cloud computing"
en = 23
np = 17

val = (dn,en, np)

# val = [
#     ('digital marketing',23,5),
#     ('ERP',12,1),
#     ('E-commerce',17,2)
# ]

try:

    # vimp -> here execute() carries out insert operation only on cursor object and not on actual table in mysql 
    mycursor.execute(sql,val)
    #mycursor.executemany(sql,val)

    #vimp -> using commit() insert operation is carried out on actual table in mysql
    conn.commit()
    
except:
    conn.rollback()
    print("inside except block")

print("record inserted check")


#update dept set no_of_emp = %s where dept_name = %s
#val = (30,'marketing')

    
#create query statement
sql = "SELECT * FROM dept"

#execute query and store data in cursor object
mycursor.execute(sql)
#print(type(mycursor))

#fetch data from cursor object and store it in new object
result = mycursor.fetchall()
print(type(result))

#result = mycursor.fetchmany(size=2)

#result = mycursor.fetchone()
#print(type(result))
#print(result)

#display query result
for x in result:
   print(x)

conn.close()

record inserted check
<class 'list'>
('cloud computing', 23, 17)
('digital marketing', 23, 5)
('ERP', 12, 1)
('E-commerce', 17, 2)

In [22]:


#Python MySQL Insert single record
sql = "INSERT INTO emp_info (first_name, last_name, age) VALUES ('trudy','dsouza',12)"
#val = ("alice", "seqera", 22)

mycursor.execute(sql)

mydb.commit()

print(mycursor.rowcount, "record inserted.")

1 record inserted.